= f.input :name, class: 'form-control'
= f.input :price, class: 'form-control'
= f.input :description, as: :text, class: 'form-control'
= f.input :real
= f.input :weight, class: 'form-control'
%h4 Images
= f.fields_for :images, @item.images do |f_images|
  %h6 Image #{f_images.index + 1}
  .form-group
    = clickable_thumb(f_images.object)
    %br/
    = f_images.input :file, as: :file, class: 'form-control-file'
    = f_images.hidden_field :file_cache
    %br/
    / To destroy associated model we have to define ID of associated model
    = f_images.hidden_field :id
    - if f_images.object.persisted?
      = f_images.check_box :_destroy, class: 'form-check-input'
      Destroy?
%h4 Add new image
.form-group
  = f.fields_for :images, @item.images.new do |f_new_img|
    = f_new_img.file_field :file
    = f_new_img.hidden_field :file_cache
.form-actions
  = f.button :submit
