%p
  = f.label :name
  %br/
  = f.text_field :name, value: @item.name
  = @item.errors[:name].first
%p
  = f.label :price
  %br/
  = f.text_field :price, value: @item.price
  = @item.errors[:price].first
%p
  = f.label :description
  %br/
  = f.text_area :description, value: @item.description
  = @item.errors[:description].first
%p
  = f.check_box :real, value: @item.real
  = f.label :real
%p
  = f.label :weight
  %br/
  = f.text_field :weight, value: @item.weight
  = @item.errors[:weight].first
%p
  = f.fields_for :images, @item.images do |f_images|
    %h4
      Image #{f_images.index + 1}
    %div
      = clickable_thumb(f_images.object)
      %br/
      = f_images.file_field :file
      = f_images.hidden_field :file_cache
      %br/
      / To destroy associated model we have to define ID of associated model
      = f_images.hidden_field :id
      = f_images.check_box :_destroy
      Destroy?
%h4 Add new image
= f.fields_for :images, @item.images.new do |f_new_img|
  = f_new_img.file_field :file
  = f_new_img.hidden_field :file_cache
