%h1= t('.items')
- if @items.present?
  %table.table.table-striped.table-hover
    %thead.thead-inverse
      %tr
        %th Id
        %th Name
        %th Images
        %th Price
        %th Votes
        %th Actions
    - @items.each do |item|
      %tr
        %td= item.id
        %td= link_to item.name, item
        %td
          - item.images.each do |image|
            = clickable_thumb(image)
        %td= item.price
        %td
          = item.votes_count
          = link_to '+', upvote_item_path(item), class: 'tag tag-pill tag-success'
          = raw link_to '&mdash;'.html_safe, downvote_item_path(item), class: 'tag tag-pill tag-danger'
        %td
          = link_to 'Edit', edit_item_path(item)
          = link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' }
- else
  No items
%p
  = link_to t('helpers.submit.item.create'), new_item_path, class: 'btn btn-success'
