<h1><%= @item.name %></h1>
<p><%= link_to 'Edit item', edit_item_path(@item.id) %></p>
<ul>
  <li>Price: <%= @item.price %></li>
  <li>Description: <%= urls_to_links(urls_to_images(@item.description)) %></li>
  <li>Real: <%= @item.real %></li>
  <% if @item.real %>
    <li>Weight: <%= @item.weight %></li>
  <% end %>
  Images:
  <ol>
    <% @item.images.each do |image| %>
      <li><%= clickable_thumb(image) %></li>
    <% end %>
  </ol>
</ul>
