<h1><%= @item.name %></h1>

<ul>
  <li>Price: <%= @item.price %></li>
  <li>Description: <%= urls_to_links(urls_to_images(@item.description)) %></li>
  <li>Real: <%= @item.real %></li>
  <% if @item.real %>
    <li>Weight: <%= @item.weight %></li>
  <% end %>
</ul>
